@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 10px;
}

body{
    padding:0;
    margin: 0;
    background: #727272;
}

h4{
    color: #f4e7e7;
    font-size: 50px;
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    text-shadow: -2px -2px 10px #f20404;
}

.layout{
	margin: auto;
	width: 350px;
	height: 540px;
	position: relative;
	background:rgb(210, 210, 210);
	border-radius: 40px;
   justify-content: center;
	box-shadow: 2px 2px 15px #080808;
}

.calculator{
    height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: minmax(100px, auto) repeat(5, 70px);
}

.calculator > button{
    margin: 6px;
    color: #000000;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
}

.span-two{
    grid-column: span 2;
    height: 90%;
    width: 95%;
    border-radius: 5em;
}

button{
    border-radius: 40%;
    border: none;
	 background: rgb(225, 209, 209);
	 box-shadow: 6px 4px 12px  #0c0c0c;
}

button:active{
	background: linear-gradient(315deg, rgb(255, 163, 179), #ff0000);
}

.output{
    grid-column: 1/ -1;
    box-shadow : inset -4px -4px 13px #000000;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
	 flex-direction:column;
	 padding: 0px 20px;
	 word-wrap: break-word;
	 word-break: break-all;
    border-radius: 30px;
    margin: 35px 0 30px 0;
}
.output .previous {
	color: rgb(40, 38, 38);
	font-size: 20px;
   margin-top:10px;
}

.output .current {
	color: #000000;
	font-size: 25px;
   margin: 5px 0;
}


footer{
	position: relative;
	margin: 20px 0;
	top: 10vh;
	height: 50px;
	width: 100%;
	text-align: center;
	color: #ffffff;
   font-size: 32px;
	font-weight: bold;
	text-shadow: 2px 2px 5px #ff0000;
	font-family: 'Parisienne', cursive;
}
a{
	color: #ffffff;
   font-size: 35px;
	font-weight: bold;
	text-decoration:none;
   font-family: 'Parisienne', cursive;
	text-shadow: 2px 2px 5px #ff0011;
}
.span-two{
  background-color: #ffb370;
}
.arithmetic-btn{
    background: linear-gradient(315deg, rgb(236, 234, 235), #878787);
}
.btn{
    background-color: #ffb370;
}